{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <script type="text/javascript">
        var user = '{{ request.user }}'
        function getToken(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getToken('csrftoken');

        function getCookie(name) {
            var cookieArr = document.cookie.split(";");
            for(var i = 0; i < cookieArr.length; i++){
                var cookiePair = cookieArr[i].split("=");
                if(name == cookiePair[0].trim()){
                    return decodeURIComponent(cookiePair[1]);
                }
            }
            return null;
        }
        var cart = JSON.parse(getCookie('cart'))
        if(cart == undefined){
            cart = {}
            console.log('The cart was created :)')
            document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
        }
        console.log('cart :',cart)
    </script>

    <title>{% block title %} {% endblock %} / Noisetta</title>
</head>
<body>
    {% include 'store/parts/navbar.html' %}

    {% block content %}

    {% endblock %}

    {% include 'store/parts/footer.html' %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.0.5/gsap.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/cart.js' %}"></script>

</body>
</html>