<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<div class="pt-3 mt-4 mb-5 text-center">
    {% if page.has_previous %}
        <a href="?page={{page.previous_page_number}}" style="width: 90px;" class="btn btn-dark bg-dark">Previous</a>
    {% else %}
        <a href="" style="width: 90px;" class="btn btn-dark bg-dark disabled">Previous</a>
    {% endif %}

        <span class="pr-4 pl-4">PAGES : {{page.number}} from {{page.paginator.num_pages}}</span>

    {% if page.has_next %}
        <a href="?page={{page.next_page_number}}" style="width: 80px;" class="btn btn-dark bg-dark">Next</a>
    {% else %}
        <a href="" style="width: 80px;" class="btn btn-dark bg-dark disabled">Next</a>
    {% endif %}
</div>