{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

<footer id="footer" class="section footer">
    <div class="container">
      <div class="footer-container">
        <div class="footer-center">
          <h3>INFORMATION</h3>
          <a href="#">About Us</a>
          <a href="https://www.instagram.com/noisetta_tanger/" target="_blank">Instagram</a>
          <span>0694920029</span>
          <a href="#">Site Map</a>
        </div>
        <div class="footer-center">
          <h3>CONTACT US</h3>
          <div>
            <span>
              <i class="fas fa-map-marker-alt"></i>
            </span>
            NOISETTA 162 Avenue Haroun Er Rachid,Tanger 90000.
          </div>
          <div>
            <span>
              <i class="far fa-envelope"></i>
            </span>
            info@noisetta.com
          </div>
          <div>
            <span>
              <i class="fas fa-phone"></i>
            </span>
            +212 5399-48281
          </div>
        </div>
      </div>
    </div>
    </div>
</footer>

<script src="{% static 'js/main.js' %}"></script>